/* CoCreate Badges */
.cocreate-badge{
  display:inline-block;
  background-color: #777;
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  height:fit-content;
  min-width: fit-content;
  padding: 0.1em 0.4em;
  text-align: center;
  transition: opacity 0.3s linear 0s;
  -webkit-transition: opacity 0.3s linear 0s;
  -ms-transition: opacity 0.3s linear 0s;
  -moz-transition: opacity 0.3s linear 0s;
  -o-transition: opacity 0.3s linear 0s;
  vertical-align: middle;
  visibility: visible;
  white-space: nowrap;
}  
