.grow-hover:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

/*================================ 
   Styled  Button
================================*/

button {
  cursor: pointer;
}

button.outline {
  display: inline;
  position: relative;
  /*z-index: 3;*/
  background: transparent;
  color: #1172c4;
  font-size: 14px;
  border-color: #1172c4;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: all 0.2s linear;
  margin-top:20px;
}
button.outline a {
  text-decoration: none;
}
button.outline:hover {
  color: white;
  background: #1172c4;
  border-color: white;
  transition: all 0.2s linear;
}
button.outline:active {
  border-radius: 22px;
}
button.white-blue {
  font-weight: 700;
  color: #1172c4;
  border-color: white;
  background: white;
}

button.white-blue:hover {
  color: white;
  background: #1172c4;
  border-color: white;
}

button.green-white {
  font-weight: 700;
  color: #7dc21e;
  border-color: #7dc21e;
  background: transparent;
}

button.green-white:hover {
  color: white;
  background: #7dc21e;
  border-color: #7dc21e;
  
}

button.red-white {
  font-weight: 700;
  color: #dc3545;
  border-color: #dc3545;
  background: transparent;
}

button.red-white:hover {
  color: white;
  background: #dc3545;
  border-color: #dc3545;
}