/*===============================
    CoCreateCSS
=================================*/
* {
    padding: 0px;
    margin: 0px;
    scrollbar-width: thin;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #505050;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

body[isdragging] * {
    cursor: grabbing!important;
    cursor: -moz-grabbing!important;
    cursor: -webkit-grabbing!important;
}


a {
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    color: inherit;
}

svg {
    height: inherit;
    width: inherit;
    fill: inherit;
    stroke: inherit;
}

textarea {
    resize: vertical;
}

[hidden] {
    display: none!important;
}

.hidden {
    display: none!important;
}

.template, [template] {
    display: none!important;
}


/*===============================
   toggle order icons transform filter.js
=================================*/

.success {
    background-color: #70ca63;
    color: #fff;
}

.warning {
    background-color: #fecd33;
    color: #fff;
}

.danger, .failed {
    background-color: #f13b48;
    color: #fff;
}

[unique='true'], [validation='true'] {
    border-color: green!important;
    color: green!important;
    -webkit-text-fill-color: green!important;
}

[unique='false'], [validation='false'] {
    border-color: red!important;
    color: red!important;
    -webkit-text-fill-color: red!important;
}

/**
* TODO: Requires away for CoCreateJS to add to min.css as it is minimum required csss for rendering
*/
cocreate-select:not(.open) > input~* {
    display: none;
}

floating-label, .floating-label_field {
    position: relative;
    margin-top:10px;
    display: block;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px 4px 4px 4px;
    border-color: rgba(0, 0, 0, 0.24)

}

floating-label .floating-label,
.floating-label_field .floating-label  {
    padding: 8px 14px 8px 14px;
    border: none !important;
    outline: none !important;
    font-size: 16px;
    line-height: 1.5;
}
