.flip-container > .flip-item {
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  backface-visibility: hidden;
}

.flip-container > .flip-item.flipped {transform: rotateY(180deg);}

.flip-container.active > .flip-item {transform: rotateY(180deg);}
.flip-container.active > .flip-item.flipped {transform: rotateY(0deg);}

