/* WebKit browsers (Chrome, Edge, Safari, Opera) */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:hover {
    background: #3790ff;
    opacity: 0.08;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.03);
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.06);
}

/* Firefox browsers */
* {
    scrollbar-width: thin;
    /* Options: auto, thin, none */
    scrollbar-color: rgba(0, 0, 0, 0.09) rgba(0, 0, 0, 0.03);
}