/* 
CoCreateUI CSS
*/
*{padding:0px; margin:0px;}

*, *:before, *:after {
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
  border-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
  
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #505050;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  /*height: 100vh;*/
  }
  
  /*::-webkit-scrollbar {*/
  /*  width: 5px;*/
  /*  height:5px;*/
  /*}*/
  /*::-webkit-scrollbar-thumb{*/
  /*  background: rgba(0, 0, 0, 0.08);*/
  /*}*/
  /*  ::-webkit-scrollbar-thumb:hover {*/
  /*    background: #3790ff;*/
  /*    opacity: .08;*/
  /*}*/

  /*::-webkit-scrollbar-track{*/
  /*  background: rgba(0, 0, 0, 0.04);*/
  /*}*/

/*body::-webkit-scrollbar {*/
/*  width: 0px;*/
/*}*/

/*body::-webkit-scrollbar-track {*/
/*  background: rgba(0, 0, 0, 0.04);*/
  
/*}*/

/*body::-webkit-scrollbar-thumb {*/
/*  background: rgba(0, 0, 0, 0.04);*/
/*}*/

/*body.scroll::-webkit-scrollbar-thumb {*/
/*  background: #f13b48;*/
/*}*/

a {
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  color: #505050;
}
a:hover, a :focus {
  color: black;
}

/*.cocreate-container{*/
/*	padding:5px;*/
/*	margin-top:50px;*/
/*}*/



/*floating btn*/
/*.floating-btn{*/
/*	display:flex;*/
/*	justify-content:center;*/
/*	 -webkit-align-items: center; */
/*  align-items: center; */
/*	text-align:center;*/
/*	bottom: 15px;*/
/*	right:15px;*/
/*	padding: 15px;*/
/*	background-color:#229954;*/
/*	opacity: .7;*/
/*	color:#FFF;*/
/*	border-radius:50%;*/
/*	box-shadow: 2px 2px 3px #999;*/
/*	z-index:1000;*/
/*	border-width: inherit;*/
/*}*/

.logo {
  display: block;
  height:50px;
  overflow: hidden;
  background:#D0D3D4;
}

.logo-icon {
    display: inline-block;
    height:50px;
    width:50px;
    padding:5px;
}

.logo-name {
    display: inline-block;
    height:50px;
    /*width:50px;*/
    vertical-align:top;
    font-size:22px;
    color:#17202A;
    font-weight:900;
    padding:8px 0px;
    overflow: hidden;
    white-space: nowrap;
}

/* class for changing color of field if data not unique*/	
.data-unique-success{
		border-color: green!important;
		}
.data-unique-error{
		border-color: red!important;
		}


/**
  check box
**/
.checkbox {
  position:relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 20px;
  min-height: 20px;
}
.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox > span.mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #999;
}

.checkbox > input:checked ~ span.mark {
  background-color: #61dafb;
  border: 0;
}

.checkbox > span.mark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox > input:checked ~ span.mark:after {
  display:block;
}

/**
  Progress bar
**/
.progressbar {
  flex-grow: 1;
  height: 4px;
  border: none;
  position: relative;
  background-color: rgb(194, 240, 253);
  overflow: hidden;
}

.progressbar > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  transform-origin: left;
  transition: transform .4s linear;
  background-color: #61dafb;
}

/* overlays content with new content */
  .overlay-content {
    padding: 24px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    left: 0;
    /*top:0px;*/
    top: 100%;
    height: 100%;
    z-index: 6;
    display: none;
    transition: all .3s ease-out;
    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.overlay-hover:hover > .overlay-content{
  top: 0;
  display:block;
}

.first-letter{
  width: 1ch;
  overflow: hidden;
  white-space: nowrap; 
}

/* will be replaced by content editable*/
.input_field {
  /*padding: 8px 14px 8px 14px;*/
  border: none !important;
  outline: none !important;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  z-index: 1;
}
