/* 
CoCreate Navbar: Show/Hide Nav on Scroll 
*/
.nav {
  /*width: 100%;*/
  width: -moz-available;   
  width: -webkit-fill-available;  
  width: fill-available;
  /*background: rgba(245, 245, 245, 0.92);*/
  z-index: 7;
  will-change: transform;
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.sticky-nav {
  position: fixed;
  top: 0;
  transform: translateY(0% )!important;
  -webkit-transform: translateY(0%) !important;
  right: 0;
  height: auto;
  background: #fff;
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.hide-nav {
  transform: translateY(-120% )!important;
  -webkit-transform: translateY(-120%) !important;
}

.scroll-show-nav{
		z-index: 99;
		position: fixed;
		top: 0;
		transform: none !important;
		width: -webkit-fill-available!important;
	}

.nav .logo {
  float: left;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  font-weight: 500;
  color: black;
}
.nav .logo:after {
  content: '';
  display: table;
  clear: both;
}

/* CoCreate Navbar End */
