
/*================================ 
    Height
================================*/

.height\:100\%-120px{
  height: calc(100% - 120px) !important;
  height: -webkit-calc(100% - 120px) !important;
  height: -moz-calc(100% - 120px) !important;
}
.height\:100vh-120px{
  height:calc(100vh - 120px)!important;
}
.height\:100vh-100px{
  height:calc(100vh - 100px)!important;
}
.height\:100vh-90px{
  height:calc(100vh - 90px)!important;
}
.height\:100vh-70px{
  height:calc(100vh - 70px)!important;
}
.height\:100vh-50px{
  height:calc(100vh - 50px)!important;
}

/*================================ 
    Height
================================*/
