
/*==============================
    Other
================================*/

/* Disables the selection */
.disableselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge*/
   user-select: none;          /* Non-prefixed version, currently 
                                  not supported by any browser */
}

/* Disables the drag event 
(mostly used for images) */
.disabledrag{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
   user-drag: none;
}

.direction-ltr{direction:ltr;}
.direction-rtl{direction:rtl;}

.hidden {display:none!important;}
.template {display:none!important;}

/*==============================
    Other
================================*/


/*==============================
    Display and float
================================*/

.display-block {display:block !important}
.display-inline-block {display:inline-block !important}
.display-inline {display:inline !important}
.display-none {display:none !important}
.display-inherit {display:inherit !important}
.display-table {display:table !important}
.display-table-cell {display:table-cell !important}
.overflow-hidden {overflow:hidden !important}
.overflow-visible {overflow:visible !important}
.overflow-auto {overflow:auto !important}

.display-flex { -ms-box-orient: horizontal; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -moz-flex; display: -webkit-flex; display: flex;}
/*.display-flex > div:nth-of-type(1) { order: 2;-webkit-order:2;-moz-order:2;-ms-order:2}*/
/*.display-flex > div:nth-of-type(2) {order: 1;-webkit-order:1;-moz-order:1;-ms-order:1}*/
/*.display-flex > div:nth-of-type(3) { order: 3;-webkit-order:3;-moz-order:3;-ms-order:3}*/

.flex-flow-row{-webkit-flex-flow: row; flex-flow: row; -ms-flex-flow: row; -moz-flex-flow: row; -o-flex-flow: row;}

/*float*/
.float-left{float: left !important}
.float-right{float: right !important}
.float-none{float: none !important}

/*============================== 
    Position
================================*/

.position-inherit {position:inherit !important}
.position-relative {position:relative !important;}
.position-absolute {position:absolute !important;}
.position-sticky {position:sticky !important;}
.position-static {position:static !important;}


/* z-index */
.z-index-1111 {z-index:1111;}
.z-index-111 {z-index:111;}
.z-index-1 {z-index:1;}
.z-index-2 {z-index:2;}
.z-index-3 {z-index:3;}
.z-index-4 {z-index:4;}
.z-index-5 {z-index:5;}
.z-index-6 {z-index:6;}
.z-index-7 {z-index:7;}
.z-index-8 {z-index:8;}
.z-index-9 {z-index:9;}
.z-index-10 {z-index:10;}
.z-index-11 {z-index:11;}
.z-index-12 {z-index:12;}
.z-index-13 {z-index:13;}
.z-index-14 {z-index:15;}
.z-index-13 {z-index:13;}
.z-index-100 {z-index:100;}
.z-index-101 {z-index:101;}
.z-index-1000 {z-index:1000;}

.z-index-auto {z-index:auto;}
.z-index-inherit {z-index:inherit;}
.z-index-initial {z-index:initial;}

.z-index-minus2 {z-index:-2;}
.z-index--5 {z-index:-5;}

/* top */
.top-auto {top:auto}
.top-0 {top:0}
.top-1px {top:1px}
.top-2px {top:2px}
.top-3px {top:3px}
.top-4px {top:4px}
.top-5px {top:5px}
.top-6px {top:6px}
.top-7px {top:7px}
.top-8px {top:8px}
.top-9px {top:9px}
.top-10px {top:10px}
.top-11px {top:11px}
.top-12px {top:12px}
.top-13px {top:13px}
.top-14px {top:14px}
.top-15px {top:15px}
.top-16px {top:16px}
.top-17px {top:17px}
.top-18px {top:18px}
.top-19px {top:19px}
.top-20px {top:20px}
.top-21px {top:21px}
.top-22px {top:22px}
.top-23px {top:23px}
.top-24px {top:24px}
.top-25px {top:25px}
.top-26px {top:26px}
.top-27px {top:27px}
.top-28px {top:28px}
.top-29px {top:29px}
.top-30px {top:30px}
.top-35px {top:35px}
.top-40px {top:40px}
.top-45px {top:45px}
.top-50px {top:50px}


.top-minus-1px {top:-1px}
.top-minus-2px {top:-2px}
.top-minus-3px {top:-3px}
.top-minus-4px {top:-4px}
.top-minus-5px {top:-5px}
.top-minus-6px {top:-6px}
.top-minus-7px {top:-7px}
.top-minus-8px {top:-8px}
.top-minus-9px {top:-9px}
.top-minus-10px {top:-10px}
.top-minus-11px {top:-11px}
.top-minus-12px {top:-12px}
.top-minus-13px {top:-13px}
.top-minus-14px {top:-14px}
.top-minus-15px {top:-15px}
.top-minus-16px {top:-16px}
.top-minus-17px {top:-17px}
.top-minus-18px {top:-18px}
.top-minus-19px {top:-19px}
.top-minus-20px {top:-20px}
.top-minus-21px {top:-21px}
.top-minus-22px {top:-22px}
.top-minus-23px {top:-23px}
.top-minus-24px {top:-24px}
.top-minus-25px {top:-25px}
.top-minus-26px {top:-26px}
.top-minus-27px {top:-27px}
.top-minus-28px {top:-28px}
.top-minus-29px {top:-29px}
.top-minus-30px {top:-30px}
.top-minus-35px {top:-35px}
.top-minus-40px {top:-40px}
.top-minus-45px {top:-45px}
.top-minus-50px {top:-50px}


/* bottom */
.bottom-auto {bottom:auto}
.bottom-0 {bottom:0}
.bottom-1px {bottom:1px}
.bottom-2px {bottom:2px}
.bottom-3px {bottom:3px}
.bottom-4px {bottom:4px}
.bottom-5px {bottom:5px}
.bottom-6px {bottom:6px}
.bottom-7px {bottom:7px}
.bottom-8px {bottom:8px}
.bottom-9px {bottom:9px}
.bottom-10px {bottom:10px}
.bottom-11px {bottom:11px}
.bottom-12px {bottom:12px}
.bottom-13px {bottom:13px}
.bottom-14px {bottom:14px}
.bottom-15px {bottom:15px}
.bottom-16px {bottom:16px}
.bottom-17px {bottom:17px}
.bottom-18px {bottom:18px}
.bottom-19px {bottom:19px}
.bottom-20px {bottom:20px}
.bottom-21px {bottom:21px}
.bottom-22px {bottom:22px}
.bottom-23px {bottom:23px}
.bottom-24px {bottom:24px}
.bottom-25px {bottom:25px}
.bottom-26px {bottom:26px}
.bottom-27px {bottom:27px}
.bottom-28px {bottom:28px}
.bottom-29px {bottom:29px}
.bottom-30px {bottom:30px}
.bottom-35px {bottom:35px}
.bottom-40px {bottom:40px}
.bottom-45px {bottom:45px}
.bottom-50px {bottom:50px}


.bottom-minus-1px {bottom:-1px}
.bottom-minus-2px {bottom:-2px}
.bottom-minus-3px {bottom:-3px}
.bottom-minus-4px {bottom:-4px}
.bottom-minus-5px {bottom:-5px}
.bottom-minus-6px {bottom:-6px}
.bottom-minus-7px {bottom:-7px}
.bottom-minus-8px {bottom:-8px}
.bottom-minus-9px {bottom:-9px}
.bottom-minus-10px {bottom:-10px}
.bottom-minus-11px {bottom:-11px}
.bottom-minus-12px {bottom:-12px}
.bottom-minus-13px {bottom:-13px}
.bottom-minus-14px {bottom:-14px}
.bottom-minus-15px {bottom:-15px}
.bottom-minus-16px {bottom:-16px}
.bottom-minus-17px {bottom:-17px}
.bottom-minus-18px {bottom:-18px}
.bottom-minus-19px {bottom:-19px}
.bottom-minus-20px {bottom:-20px}
.bottom-minus-21px {bottom:-21px}
.bottom-minus-22px {bottom:-22px}
.bottom-minus-23px {bottom:-23px}
.bottom-minus-24px {bottom:-24px}
.bottom-minus-25px {bottom:-25px}
.bottom-minus-26px {bottom:-26px}
.bottom-minus-27px {bottom:-27px}
.bottom-minus-28px {bottom:-28px}
.bottom-minus-29px {bottom:-29px}
.bottom-minus-30px {bottom:-30px}
.bottom-minus-35px {bottom:-35px}
.bottom-minus-40px {bottom:-40px}
.bottom-minus-45px {bottom:-45px}
.bottom-minus-50px {bottom:-50px}

/* left */
.left-auto {left:auto}
.left-0 {left:0}
.left-1px {left:1px}
.left-2px {left:2px}
.left-3px {left:3px}
.left-4px {left:4px}
.left-5px {left:5px}
.left-6px {left:6px}
.left-7px {left:7px}
.left-8px {left:8px}
.left-9px {left:9px}
.left-10px {left:10px}
.left-11px {left:11px}
.left-12px {left:12px}
.left-13px {left:13px}
.left-14px {left:14px}
.left-15px {left:15px}
.left-20px {left:20px}
.left-25px {left:25px}
.left-30px {left:30px}
.left-35px {left:35px}
.left-40px {left:40px}
.left-45px {left:45px}
.left-50px {left:50px}

/* right */
.right-auto {right:auto}
.right-0 {right:0}
.right-1px {right:1px}
.right-2px {right:2px}
.right-3px {right:3px}
.right-4px {right:4px}
.right-5px {right:5px}
.right-6px {right:6px}
.right-7px {right:7px}
.right-8px {right:8px}
.right-9px {right:9px}
.right-10px {right:10px}
.right-11px {right:10px}
.right-12px {right:10px}
.right-13px {right:10px}
.right-14px {right:10px}
.right-15px {right:15px}
.right-20px {right:20px}
.right-25px {right:25px}
.right-30px {right:30px}
.right-35px {right:35px}
.right-40px {right:40px}
.right-45px {right:45px}
.right-50px {right:50px}
/*================================ 
    Position
================================*/

/*================================ 
    Height
================================*/

.height-percent-120px{
  height: calc(100% - 120px) !important;
  height: -webkit-calc(100% - 120px) !important;
  height: -moz-calc(100% - 120px) !important;
}
.vh-120{
  height:calc(100vh - 120px)!important;
}
.vh-100{
  height:calc(100vh - 100px)!important;
}
.vh-90{
  height:calc(100vh - 90px)!important;
}
.height-100vh-minus-70px{
  height:calc(100vh - 70px)!important;
}
.height-100vh-50px{
  height:calc(100vh - 50px)!important;
}
.height-80vh{
  height:80vh;
}
.height-90vh{
  height:90vh;
}
.height-100vh{
  height:100vh;
}


.height-1px {height: 1px}
.height-2px {height: 2px}
.height-3px {height: 3px}
.height-4px {height: 4px}
.height-5px {height: 5px}
.height-6px {height: 6px}
.height-7px {height: 7px}
.height-8px {height: 8px}
.height-9px {height: 9px}
.height-10px {height: 10px}
.height-20px {height: 20px}
.height-30px {height: 30px}
.height-40px {height: 40px}
.height-45px {height: 45px}
.height-48px {height: 48px}
.height-50px {height: 50px}
.height-70px {height: 70px}
.height-80px {height: 80px}
.height-90px {height: 90px}
.height-100px {height: 100px}
.height-130px {height: 130px}
.height-150px {height: 150px}
.height-200px {height: 200px}
.height-250px {height: 250px}
.height-300px {height: 300px}
.height-350px {height: 350px}
.height-400px {height: 400px}
.height-450px {height: 450px}
.height-500px {height: 500px}
.height-550px {height: 550px}
.height-600px {height: 600px}
.height-650px {height: 650px}
.height-700px {height: 700px}

.height-25-percent {height: 25%}
.height-33-percent {height: 33.33%}
.height-50-percent {height: 50%}
.height-66-percent {height: 66.66%}
.height-75-percent {height: 75%}
.height-100-percent {height: 100% !important}
.height-auto {height:auto !important}
.max-height-60px {max-height: 60px}
.max-height-100-percent {max-height: 100%}
.full-screen {min-height: 980px;}

/* min-height */
.min-height-100px {min-height: 100px}
.min-height-200px {min-height: 200px}
.min-height-300px {min-height: 300px}
.min-height-400px {min-height: 400px}
.min-height-500px {min-height: 500px}
.min-height-600px {min-height: 600px}
.min-height-700px {min-height: 700px}

.height-fill-available{
  height:100%;
  height: -moz-fill-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
}

.height-fit-content{height:fit-content;}

/*================================ 
    Height
================================*/


/*================================
    Width
================================*/

.width-1px {width:1px;}
.width-2px {width:2px;}
.width-3px {width:3px;}
.width-4px {width:4px;}
.width-5px {width:5px;}
.width-6px {width:6px;}
.width-7px {width:7px;}
.width-8px {width:8px;}
.width-9px {width:9px;}
.width-10px {width:10px;}
.width-15px {width:15px;}
.width-20px {width:20px;}
.width-25px {width:25px;}
.width-30px {width:30px;}
.width-35px {width:35px;}
.width-40px {width:40px;}
.width-50px {width:50px;}
.width-55px {width:55px;}
.width-60px {width:60px;}
.width-65px {width:65px;}
.width-70px {width:70px;}
.width-75px {width:75px;}
.width-80px {width:80px;}
.width-85px {width:85px;}
.width-90px {width:90px;}
.width-100px {width:100px;}
.width-110px {width:110px;}
.width-120px {width:120px;}
.width-130px {width:130px;}
.width-150px {width:150px;}
.width-180px {width:180px;}
.width-200px {width:200px;}
.width-250px {width:250px;}
.width-300px {width:300px;}
.width-350px {width:350px;}
.width-400px {width:400px;}
.width-450px {width:450px;}
.width-500px {width:500px;}
.width-550px {width:550px;}
.width-600px {width:600px;}
.width-650px {width:650px;}
.width-700px {width:700px;}
.width-750px {width:750px;}
.width-800px {width:800px;}
.width-850px {width:850px;}
.width-900px {width:900px;}
.width-950px {width:950px;}
.width-1000px {width:1000px;}

.width-10-percent {width:10%;}
.width-12-percent {width:12%;}
.width-15-percent {width:15%;}
.width-20-percent {width:20%;}
.width-25-percent {width:25%;}
.width-30-percent {width:30%;}
.width-35-percent {width:35%;}
.width-40-percent {width:40%;}
.width-41-percent {width:41%;}
.width-42-percent {width:42%;}
.width-43-percent {width:43%;}
.width-44-percent {width:44%;}
.width-45-percent {width:45%;}
.width-46-percent {width:46%;}
.width-47-percent {width:47%;}
.width-48-percent {width:48%;}
.width-49-percent {width:49%;}
.width-50-percent {width:50%;}
.width-55-percent {width:55%;}
.width-60-percent {width:60%;}
.width-65-percent {width:65%;}
.width-70-percent {width:70%;}
.width-75-percent {width:75%;}
.width-80-percent {width:80%;}
.width-85-percent {width:85%;}
.width-90-percent {width:90%;}
.width-95-percent {width:95%;}
.width-100-percent {
  width:100%;
}
.width-auto {width: auto}
.width-unset {width: unset}

/* min-width */
.min-width-75px {min-width: 75px;}
.min-width-100px {min-width: 100px;}
.min-width-200px{min-width: 200px;}
.min-width-250px{min-width: 200px;}
.min-width-300px {min-width:300px}

.max-width-75px{max-width:75px;}
.max-width-100px{max-width:100px;}
.max-width-300px{max-width:300px;}
.max-width-400px{max-width: 400px;}
.max-width-500px{max-width: 500px;}
.max-width-600px{max-width: 600px;}
.max-width-1050px{width: 1050px;}

.max-width-20-percent{max-width:20%;}
.max-width-30-percent{max-width:30%;}
.max-width-40-percent{max-width:40%;}
.max-width-50-percent{max-width:50%;}
.max-width-90-percent{max-width:90%;}
.max-width-100-percent{max-width:100%;}

/* max-width */
.full-width{
  width:100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}
.width-fill-available{
  width:100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

/*================================ 
    Width
================================*/



/*==============================
    Margin
================================*/
.margin-5px {margin:5px}
.margin-10px {margin:10px}
.margin-15px {margin:15px}
.margin-20px {margin:20px}
.margin-25px {margin:25px}
.margin-30px {margin:30px}
.margin-35px {margin:35px}
.margin-40px {margin:40px}
.margin-45px {margin:45px}
.margin-50px {margin:50px}
.margin-55px {margin:55px}
.margin-60px {margin:60px}
.margin-65px {margin:65px}
.margin-70px {margin:70px}
.margin-75px {margin:75px}
.margin-80px {margin:80px}
.margin-85px {margin:85px}
.margin-90px {margin:90px}
.margin-95px {margin:95px}
.margin-100px {margin:100px}

.margin-0 {margin:0 !important}
.margin-0-lr {margin-left: 0 !important; margin-right: 0 !important}
.margin-0-tb {margin-top: 0 !important; margin-bottom: 0 !important}
.margin-top-0 {margin-top:0 !important}
.margin-bottom-0 {margin-bottom:0 !important}
.margin-left-0 {margin-left:0 !important}
.margin-right-0 {margin-right:0 !important}
.margin-left-auto {margin-left:auto !important}
.margin-right-auto {margin-right:auto !important}
.margin-auto-lr {margin-left:auto !important; margin-right:auto !important}
.margin-auto-tb {margin-top:auto !important; margin-bottom:auto !important}
.margin-auto {margin:auto !important;}

/* margin top */
.margin-top-5px {margin-top:5px}
.margin-top-10px {margin-top:10px}
.margin-top-15px {margin-top:15px}
.margin-top-20px {margin-top:20px}
.margin-top-25px {margin-top:25px}
.margin-top-30px {margin-top:30px}
.margin-top-35px {margin-top:35px}
.margin-top-40px {margin-top:40px}
.margin-top-45px {margin-top:45px}
.margin-top-50px {margin-top:50px}
.margin-top-55px {margin-top:55px}
.margin-top-60px {margin-top:60px}
.margin-top-65px {margin-top:65px}
.margin-top-70px {margin-top:70px}
.margin-top-75px {margin-top:75px}
.margin-top-80px {margin-top:80px}
.margin-top-90px {margin-top:90px}
.margin-top-100px {margin-top:100px}

/* margin bottom */
.margin-bottom-5px {margin-bottom:5px}
.margin-bottom-10px {margin-bottom:10px}
.margin-bottom-15px {margin-bottom:15px}
.margin-bottom-20px {margin-bottom:20px}
.margin-bottom-25px {margin-bottom:25px}
.margin-bottom-30px {margin-bottom:30px}
.margin-bottom-35px {margin-bottom:35px}
.margin-bottom-40px {margin-bottom:40px}
.margin-bottom-45px {margin-bottom:45px}
.margin-bottom-50px {margin-bottom:50px}
.margin-bottom-55px {margin-bottom:55px}
.margin-bottom-60px {margin-bottom:60px}
.margin-bottom-65px {margin-bottom:65px}
.margin-bottom-70px {margin-bottom:70px}
.margin-bottom-75px {margin-bottom:75px}
.margin-bottom-80px {margin-bottom:80px}
.margin-bottom-85px {margin-bottom:85px}
.margin-bottom-90px {margin-bottom:90px}
.margin-bottom-95px {margin-bottom:95px}
.margin-bottom-100px {margin-bottom:100px}

/* margin right */
.margin-right-5px {margin-right:5px}
.margin-right-10px {margin-right:10px}
.margin-right-15px {margin-right:15px}
.margin-right-20px {margin-right:20px}
.margin-right-25px {margin-right:25px}
.margin-right-30px {margin-right:30px}
.margin-right-35px {margin-right:35px}
.margin-right-40px {margin-right:40px}
.margin-right-45px {margin-right:45px}
.margin-right-50px {margin-right:50px}
.margin-right-55px {margin-right:55px}
.margin-right-60px {margin-right:60px}
.margin-right-65px {margin-right:65px}
.margin-right-70px {margin-right:70px}
.margin-right-75px {margin-right:75px}
.margin-right-80px {margin-right:80px}
.margin-right-85px {margin-right:85px}
.margin-right-90px {margin-right:90px}
.margin-right-95px {margin-right:95px}
.margin-right-100px {margin-right:100px}

/* margin left */
.margin-left-5px {margin-left:5px}
.margin-left-10px {margin-left:10px}
.margin-left-15px {margin-left:15px}
.margin-left-20px {margin-left:20px}
.margin-left-25px {margin-left:25px}
.margin-left-30px {margin-left:30px}
.margin-left-35px {margin-left:35px}
.margin-left-40px {margin-left:40px}
.margin-left-45px {margin-left:45px}
.margin-left-50px {margin-left:50px}
.margin-left-55px {margin-left:55px}
.margin-left-60px {margin-left:60px}
.margin-left-65px {margin-left:65px}
.margin-left-70px {margin-left:70px}
.margin-left-75px {margin-left:75px}
.margin-left-80px {margin-left:80px}
.margin-left-85px {margin-left:85px}
.margin-left-90px {margin-left:90px}
.margin-left-95px {margin-left:95px}
.margin-left-100px {margin-left:100px}

/* margin left and right */
.margin-5px-lr {margin-left:5px; margin-right:5px;}
.margin-10px-lr {margin-left:10px; margin-right:10px;}
.margin-15px-lr {margin-left:15px; margin-right:15px;}
.margin-20px-lr {margin-left:20px; margin-right:20px;}
.margin-25px-lr {margin-left:25px; margin-right:25px;}
.margin-30px-lr {margin-left:30px; margin-right:30px;}
.margin-35px-lr {margin-left:35px; margin-right:35px;}
.margin-40px-lr {margin-left:40px; margin-right:40px;}
.margin-45px-lr {margin-left:45px; margin-right:45px;}
.margin-50px-lr {margin-left:50px; margin-right:50px;}
.margin-55px-lr {margin-left:55px; margin-right:55px;}
.margin-60px-lr {margin-left:60px; margin-right:60px;}
.margin-65px-lr {margin-left:65px; margin-right:65px;}
.margin-70px-lr {margin-left:70px; margin-right:70px;}
.margin-75px-lr {margin-left:75px; margin-right:75px;}
.margin-80px-lr {margin-left:80px; margin-right:80px;}
.margin-85px-lr {margin-left:85px; margin-right:85px;}
.margin-90px-lr {margin-left:90px; margin-right:90px;}
.margin-95px-lr {margin-left:95px; margin-right:95px;}
.margin-100px-lr {margin-left:100px; margin-right:100px;}

/* margin top and bottom */
.margin-5px-tb {margin-top:5px; margin-bottom:5px;}
.margin-10px-tb {margin-top:10px; margin-bottom:10px;}
.margin-15px-tb {margin-top:15px; margin-bottom:15px;}
.margin-20px-tb {margin-top:20px; margin-bottom:20px;}
.margin-25px-tb {margin-top:25px; margin-bottom:25px;}
.margin-30px-tb {margin-top:30px; margin-bottom:30px;}
.margin-35px-tb {margin-top:35px; margin-bottom:35px;}
.margin-40px-tb {margin-top:40px; margin-bottom:40px;}
.margin-45px-tb {margin-top:45px; margin-bottom:45px;}
.margin-50px-tb {margin-top:50px; margin-bottom:50px;}
.margin-55px-tb {margin-top:55px; margin-bottom:55px;}
.margin-60px-tb {margin-top:60px; margin-bottom:60px;}
.margin-65px-tb {margin-top:65px; margin-bottom:65px;}
.margin-70px-tb {margin-top:70px; margin-bottom:70px;}
.margin-75px-tb {margin-top:75px; margin-bottom:75px;}
.margin-80px-tb {margin-top:80px; margin-bottom:80px;}
.margin-85px-tb {margin-top:85px; margin-bottom:85px;}
.margin-90px-tb {margin-top:90px; margin-bottom:90px;}
.margin-95px-tb {margin-top:95px; margin-bottom:95px;}
.margin-100px-tb {margin-top:100px; margin-bottom:100px;}

/*===============================
    Padding
=================================*/

.padding-0 {padding:0 !important}
.padding-0-lr {padding-left: 0 !important; padding-right: 0 !important}
.padding-0-tb {padding-top: 0 !important; padding-bottom: 0 !important}
.padding-top-0 {padding-top:0 !important}
.padding-bottom-0 {padding-bottom:0 !important}
.padding-left-0 {padding-left:0 !important}
.padding-right-0 {padding-right:0 !important}
.padding-5px {padding:5px;}
.padding-10px {padding:10px;}
.padding-15px {padding:15px;}
.padding-20px {padding:20px;}
.padding-25px {padding:25px;}
.padding-30px {padding:30px;}
.padding-35px {padding:35px;}
.padding-40px {padding:40px;}
.padding-45px {padding:45px;}
.padding-50px {padding:50px;}
.padding-55px {padding:55px;}
.padding-60px {padding:60px;}
.padding-65px {padding:65px;}
.padding-70px {padding:70px;}
.padding-75px {padding:75px;}
.padding-80px {padding:80px;}
.padding-85px {padding:85px;}
.padding-90px {padding:90px;}
.padding-95px {padding:95px;}
.padding-100px {padding:100px;}

/* padding top */
.padding-top-5px {padding-top:5px;}
.padding-top-10px {padding-top:10px;}
.padding-top-15px {padding-top:15px;}
.padding-top-20px {padding-top:20px;}
.padding-top-25px {padding-top:25px;}
.padding-top-30px {padding-top:30px;}
.padding-top-35px {padding-top:35px;}
.padding-top-40px {padding-top:40px;}
.padding-top-45px {padding-top:45px;}
.padding-top-50px {padding-top:50px;}
.padding-top-55px {padding-top:55px;}
.padding-top-60px {padding-top:60px;}
.padding-top-65px {padding-top:65px;}
.padding-top-70px {padding-top:70px;}
.padding-top-75px {padding-top:75px;}
.padding-top-80px {padding-top:80px;}
.padding-top-85px {padding-top:85px;}
.padding-top-90px {padding-top:90px;}
.padding-top-95px {padding-top:95px;}
.padding-top-100px {padding-top:100px;}

/* padding bottom */
.padding-bottom-5px {padding-bottom:5px;}
.padding-bottom-10px {padding-bottom:10px;}
.padding-bottom-15px {padding-bottom:15px;}
.padding-bottom-20px {padding-bottom:20px;}
.padding-bottom-25px {padding-bottom:25px;}
.padding-bottom-30px {padding-bottom:30px;}
.padding-bottom-35px {padding-bottom:35px;}
.padding-bottom-40px {padding-bottom:40px;}
.padding-bottom-45px {padding-bottom:45px;}
.padding-bottom-50px {padding-bottom:50px;}
.padding-bottom-55px {padding-bottom:55px;}
.padding-bottom-60px {padding-bottom:60px;}
.padding-bottom-65px {padding-bottom:65px;}
.padding-bottom-70px {padding-bottom:70px;}
.padding-bottom-75px {padding-bottom:75px;}
.padding-bottom-80px {padding-bottom:80px;}
.padding-bottom-85px {padding-bottom:85px;}
.padding-bottom-90px {padding-bottom:90px;}
.padding-bottom-95px {padding-bottom:95px;}
.padding-bottom-100px {padding-bottom:100px;}

/* padding right */
.padding-right-5px {padding-right:5px;}
.padding-right-10px {padding-right:10px;}
.padding-right-15px {padding-right:15px;}
.padding-right-20px {padding-right:20px;}
.padding-right-25px {padding-right:25px;}
.padding-right-30px {padding-right:30px;}
.padding-right-35px {padding-right:35px;}
.padding-right-40px {padding-right:40px;}
.padding-right-45px {padding-right:45px;}
.padding-right-50px {padding-right:50px;}
.padding-right-55px {padding-right:55px;}
.padding-right-60px {padding-right:60px;}
.padding-right-65px {padding-right:65px;}
.padding-right-70px {padding-right:70px;}
.padding-right-75px {padding-right:75px;}
.padding-right-80px {padding-right:80px;}
.padding-right-85px {padding-right:85px;}
.padding-right-90px {padding-right:90px;}
.padding-right-95px {padding-right:95px;}
.padding-right-100px {padding-right:100px;}

/* padding left */
.padding-left-5px {padding-left:5px;}
.padding-left-10px {padding-left:10px;}
.padding-left-15px {padding-left:15px;}
.padding-left-20px {padding-left:20px;}
.padding-left-25px {padding-left:25px;}
.padding-left-30px {padding-left:30px;}
.padding-left-35px {padding-left:35px;}
.padding-left-40px {padding-left:40px;}
.padding-left-45px {padding-left:45px;}
.padding-left-50px {padding-left:50px;}
.padding-left-55px {padding-left:55px;}
.padding-left-60px {padding-left:60px;}
.padding-left-65px {padding-left:65px;}
.padding-left-70px {padding-left:70px;}
.padding-left-75px {padding-left:75px;}
.padding-left-80px {padding-left:80px;}
.padding-left-85px {padding-left:85px;}
.padding-left-90px {padding-left:90px;}
.padding-left-95px {padding-left:95px;}
.padding-left-100px {padding-left:100px;}

/* padding top and bottom */
.padding-5px-tb {padding-top:5px; padding-bottom:5px;}
.padding-10px-tb {padding-top:10px; padding-bottom:10px;}
.padding-15px-tb {padding-top:15px; padding-bottom:15px;}
.padding-20px-tb {padding-top:20px; padding-bottom:20px;}
.padding-25px-tb {padding-top:25px; padding-bottom:25px;}
.padding-30px-tb {padding-top:30px; padding-bottom:30px;}
.padding-35px-tb {padding-top:35px; padding-bottom:35px;}
.padding-40px-tb {padding-top:40px; padding-bottom:40px;}
.padding-45px-tb {padding-top:45px; padding-bottom:45px;}
.padding-50px-tb {padding-top:50px; padding-bottom:50px;}
.padding-55px-tb {padding-top:55px; padding-bottom:55px;}
.padding-60px-tb {padding-top:60px; padding-bottom:60px;}
.padding-65px-tb {padding-top:65px; padding-bottom:65px;}
.padding-70px-tb {padding-top:70px; padding-bottom:70px;}
.padding-75px-tb {padding-top:75px; padding-bottom:75px;}
.padding-80px-tb {padding-top:80px; padding-bottom:80px;}
.padding-85px-tb {padding-top:85px; padding-bottom:85px;}
.padding-90px-tb {padding-top:90px; padding-bottom:90px;}
.padding-95px-tb {padding-top:95px; padding-bottom:95px;}
.padding-100px-tb {padding-top:100px; padding-bottom:100px;}

/* padding left and right */
.padding-0px-lr {padding-left:0px; padding-right:0px;}
.padding-1px-lr {padding-left:1px; padding-right:1px;}
.padding-2px-lr {padding-left:2px; padding-right:2px;}
.padding-3px-lr {padding-left:3px; padding-right:3px;}
.padding-4px-lr {padding-left:4px; padding-right:4px;}
.padding-5px-lr {padding-left:5px; padding-right:5px;}
.padding-6px-lr {padding-left:6px; padding-right:6px;}
.padding-7px-lr {padding-left:7px; padding-right:7px;}
.padding-8px-lr {padding-left:8px; padding-right:8px;}
.padding-9px-lr {padding-left:9px; padding-right:9px;}
.padding-10px-lr {padding-left:10px; padding-right:10px;}
.padding-11px-lr {padding-left:11px; padding-right:11px;}
.padding-12px-lr {padding-left:12px; padding-right:12px;}
.padding-13px-lr {padding-left:13px; padding-right:13px;}
.padding-14px-lr {padding-left:14px; padding-right:14px;}
.padding-15px-lr {padding-left:15px; padding-right:15px;}
.padding-20px-lr {padding-left:20px; padding-right:20px;}
.padding-25px-lr {padding-left:25px; padding-right:25px;}
.padding-30px-lr {padding-left:30px; padding-right:30px;}
.padding-35px-lr {padding-left:35px; padding-right:35px;}
.padding-40px-lr {padding-left:40px; padding-right:40px;}
.padding-45px-lr {padding-left:45px; padding-right:45px;}
.padding-50px-lr {padding-left:50px; padding-right:50px;}
.padding-55px-lr {padding-left:55px; padding-right:55px;}
.padding-60px-lr {padding-left:60px; padding-right:60px;}
.padding-65px-lr {padding-left:65px; padding-right:65px;}
.padding-70px-lr {padding-left:70px; padding-right:70px;}
.padding-75px-lr {padding-left:75px; padding-right:75px;}
.padding-80px-lr {padding-left:80px; padding-right:80px;}
.padding-85px-lr {padding-left:85px; padding-right:85px;}
.padding-90px-lr {padding-left:90px; padding-right:90px;}
.padding-95px-lr {padding-left:95px; padding-right:95px;}
.padding-100px-lr {padding-left:100px; padding-right:100px;}



/* ===================================
    Border
====================================== */

/* boder align */
.border {border: 1px solid #ededed}
.border-top {border-top: 1px solid;}
.border-bottom {border-bottom: 1px solid;}
.border-left {border-left: 1px solid;}
.border-right {border-right: 1px solid;}
.border-lr {border-left: 1px solid; border-right: 1px solid;}
.border-tb {border-top: 1px solid; border-bottom: 1px solid;}
.border-none {border: none}

/* boder width */
.border-width-0px {border-width:0px;}
.border-width-1px {border-width:1px;}
.border-width-2px {border-width:2px;}
.border-width-3px {border-width:3px;}
.border-width-4px {border-width:4px;}
.border-width-5px {border-width:5px;}
.border-width-6px {border-width:6px;}
.border-width-7px {border-width:7px;}
.border-width-8px {border-width:8px;}
.border-width-9px {border-width:9px;}
.border-width-10px {border-width:10px;}
.border-width-20px {border-width:20px;}

/* border color */
.border-color-white {border-color:#fff !important;}
.border-color-black {border-color:#000 !important;}
.border-color-extra-dark-gray {border-color:#232323 !important;}
.border-color-medium-dark-gray {border-color:#363636 !important;}
.border-color-dark-gray {border-color:#939393 !important;}
.border-color-extra-medium-gray {border-color:#dbdbdb !important;}
.border-color-medium-gray {border-color:#e4e4e4 !important;}
.border-color-extra-light-gray {border-color:#ededed !important;}
.border-color-light-gray {border-color:#f5f5f5 !important;}
.border-color-light-pink {border-color:#862237 !important;}
.border-color-deep-pink {border-color:#ff214f !important;}
.border-color-transparent-pink {border-color: rgba(255, 33, 79, 0.45) !important;}


/* boder style */
.border-style-dotted {border-style: dotted !important;}
.border-style-dashed {border-style: dashed !important;}
.border-style-solid {border-style: solid !important;}
.border-style-double {border-style: double !important;}
.border-style-groove {border-style: groove !important;}
.border-style-ridge {border-style: ridge !important;}
.border-style-inset {border-style: inset !important;}
.border-style-outset {border-style: outset !important;}
.border-style-none {border-style: none !important;}
.border-style-hidden {border-style: hidden !important;}
.border-style-transperent {border-color: transparent !important;}

.border-top-0 {border-top:0 !important}
.border-bottom-0 {border-bottom:0 !important}
.border-right-0 {border-right:0 !important}
.border-left-0 {border-left:0 !important}

/* transparent border */
.border-black-light {border-color: rgba(0,0,0,.1) !important;}
.border-white-light {border-color: rgba(255,255,255,.1) !important;}

/* border radius */
.border-radius-1px {border-radius:1px}
.border-radius-2px {border-radius:2px}
.border-radius-3px {border-radius:3px}
.border-radius-4px {border-radius:4px}
.border-radius-5px {border-radius:5px}
.border-radius-6px {border-radius:6px}
.border-radius-7px {border-radius:7px}
.border-radius-8px {border-radius:8px}
.border-radius-9px {border-radius:9px}
.border-radius-10px {border-radius:10px}
.border-radius-50px {border-radius:50px}
.border-radius-50-percent, .round, .circle {border-radius:50%}
.border-radius-100-percent {border-radius:100%}
.border-radius-0 {border-radius:0}

/*================================ 
    Border
================================*/

/*================================ 
    Box Shadow
================================*/

.box-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.box-shadow-hover:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/*================================ 
    Box Shadow
================================*/

/*================================ 
    Line Height
================================*/

.line-height-1 {line-height: 1;}

/*================================ 
    Line Height
================================*/
/*================================ 
    Font
================================*/

.font-size-6px {font-size: 6px;}
.font-size-7px {font-size: 7px;}
.font-size-8px {font-size: 8px;}
.font-size-9px {font-size: 9px;}
.font-size-10px {font-size: 10px;}
.font-size-11px {font-size: 11px;}
.font-size-12px {font-size: 12px;}
.font-size-13px {font-size: 13px;}
.font-size-14px {font-size: 14px;}
.font-size-15px {font-size: 15px;}
.font-size-16px {font-size: 16px;}
.font-size-17px {font-size: 17px;}
.font-size-18px {font-size: 18px;}
.font-size-19px {font-size: 19px;}
.font-size-20px {font-size: 20px;}
.font-size-21px {font-size: 21px;}
.font-size-22px {font-size: 22px;}
.font-size-23px {font-size: 23px;}
.font-size-24px {font-size: 24px;}
.font-size-25px {font-size: 25px;}
.font-size-30px {font-size: 30px;}
.font-size-40px {font-size: 40px;}
.font-size-50px {font-size: 50px;}
.font-size-60px {font-size: 60px;}
.font-size-70px {font-size: 70px;}
.font-size-80px {font-size: 80px;}

.font-size-01rem {font-size: .1rem;}
.font-size-02rem {font-size: .2rem;}
.font-size-04rem {font-size: .3rem;}
.font-size-04rem {font-size: .4rem;}
.font-size-05rem {font-size: .5rem;}
.font-size-1rem {font-size: 1rem;}
.font-size-2rem {font-size: 2rem;}


/* font weight */
.font-weight-100 {font-weight:100}
.font-weight-200 {font-weight:200}
.font-weight-300 {font-weight:300}
.font-weight-400 {font-weight:400}
.font-weight-500 {font-weight:500}
.font-weight-600 {font-weight:600}
.font-weight-700 {font-weight:700}
.font-weight-800 {font-weight:800}
.font-weight-900 {font-weight:900}
.font-bold {font-weight: bold;}
.font-noBlod {font-weight: 400;}

/*================================ 
    Font
================================*/


/*================================ 
    Text
================================*/

.text-align-center {text-align:center;}
.text-align-left {text-align: left;}
.text-align-right {text-align: right;}


/* text color */
.color-white {color:#FFF}
.color-black {color:#000}
.color-extra-dark-gray {color:#232323}
.color-dark-gray {color:#626262}
.color-extra-medium-gray {color:#757575}
.color-medium-gray {color:#939393}
.color-extra-light-gray {color:#b7b7b7}
.color-light-gray {color:#d6d5d5}
.color-very-light-gray {color:#ededed}
.color-deep-pink {color:#ff214f}
.color-light-blue {color: #5A8DEE;}
.color-blue {color: #3790ff;}
/*Text Overflow*/
.text-overflow-ellipsis {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.text-tranform-upper {text-transform: uppercase;}
.text-decoration-underline {text-decoration:underline;}

/*================================ 
    Text
================================*/


/*================================ 
    Background
================================*/
.background-attachment-scroll {background-attachment: scroll;}
.background-attachment-fixed {background-attachment: fixed;}
.background-attachment-local {background-attachment: local;}
.background-attachment-initial {background-attachment: initial;}
.background-attachment-inherit {background-attachment: inherit;}

.background-repeat-repeat {background-repeat: repeat;}
.background-repeat-repeat-x {background-repeat: repeat-x;}
.background-repeat-repeat-y {background-repeat: repeat-y;}
.background-repeat-no-repeat {background-repeat: no-repeat;}
.background-repeat-intial {background-repeat: initial;}
.background-repeat-inherit {background-repeat: inherit;}

.background-size-auto {background-size: auto;}
.background-size-cover {background-size: cover}
.background-size-contain {background-size: contain}
.background-size-intial {background-size: initial;}
.background-size-inherit {background-size: inherit;}

.background-position-left-top {background-position: left top;}
.background-position-left-center {background-position: left center;}
.background-position-left-bottom {background-position: left bottom;}
.background-position-right-top {background-position: right top;}
.background-position-right-center {background-position: right center;}
.background-position-right-bottom {background-position: right bottom;}
.background-position-center {background-position: center;}
.background-position-center-top {background-position: center top;}
.background-position-center-center {background-position: center center;}
.background-position-center-bottom {background-position: center bottom;}
.background-position-intial {background-position: initial;}
.background-position-inherit {background-position: inherit;}




/*================================ 
    Background Color
================================*/

.bg-transparent, .background-transparent {background-color: transparent;}
.bg-white, .background-white {background-color:#fff;}
.bg-black, .background-black {background-color:#000;}
.bg-dark-blue, .background-dark-blue {background-color: #283747;}
.bg-extra-dark-gray {background-color:#1c1c1c;}
.bg-dark-gray {background-color:#757575;}
.bg-extra-medium-gray {background-color:#939393;}
.bg-medium-gray {background-color:#dbdbdb;}
.bg-extra-light-gray {background-color:#e0e0e0}
.bg-medium-light-gray {background-color:#ededed}
.bg-light-gray {background-color:#f7f7f7}
.bg-very-light-gray {background-color:#fafafa}
.bg-deep-pink {background-color:#ff214f;}
.bg-transparent-white { background-color: rgba(255,255,255,0.3); background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 37%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%); background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(37%, rgba(255,255,255,0)), color-stop(96%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1))); background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 37%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%); background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 37%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%); background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 37%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%); background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 37%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 ); }
.bg-transparent-black { background-color: rgba(0,0,0,0); background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%); background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(37%, rgba(0,0,0,0)), color-stop(96%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1))); background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%); background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%); background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%); background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 ); }
.bg-white-opacity { background-color: rgba(255, 255, 255, 0.85); }
.bg-black-opacity { background-color: rgba(0, 0, 0, 0.85); }
.bg-black-opacity-light { background-color: rgba(0, 0, 0, 0.5); }
.bg-deep-pink-opacity {background-color: rgba(255, 33, 79, 0.85);}
.bg-charcoal-gray{background-color: #0e0f10;}
.bg-blue {background-color:#3790ff;}

.opacity-0{opacity: 0}
.opacity-01{opacity: 0.1}
.opacity-02{opacity: 0.2}
.opacity-03{opacity: 0.3}
.opacity-04{opacity: 0.4}
.opacity-05{opacity: 0.5}
.opacity-06{opacity: 0.6}
.opacity-07{opacity: 0.7}
.opacity-08{opacity: 0.8}
.opacity-09{opacity: 0.9}
.opacity-1{opacity: 1}

.success {
  background-color: #70ca63;
  color: #fff;
}
.warning {
  background-color: #fecd33;
  color: #fff;
}
.danger {
  background-color: #f13b48;
  color: #fff;
}

/*================================ 
    Background Color
================================*/


/*============================== 
    Cursors
================================*/

.cursor-alias {cursor: alias;}
.cursor-all-scroll {cursor: all-scroll;}
.cursor-auto {cursor: auto;}
.cursor-cell {cursor: cell;}
.cursor-context-menu {cursor: context-menu;}
.cursor-col-resize {cursor: col-resize;}
.cursor-copy {cursor: copy;}
.cursor-crosshair {cursor: crosshair;}
.cursor-default {cursor: default;}
.cursor-e-resize {cursor: e-resize;}
.cursor-ew-resize {cursor: ew-resize;}
.cursor-grab {cursor: -webkit-grab; cursor: grab;}
.cursor-grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
.cursor-help {cursor: help;}
.cursor-move {cursor: move;}
.cursor-n-resize {cursor: n-resize;}
.cursor-ne-resize {cursor: ne-resize;}
.cursor-nesw-resize {cursor: nesw-resize;}
.cursor-ns-resize {cursor: ns-resize;}
.cursor-nw-resize {cursor: nw-resize;}
.cursor-nwse-resize {cursor: nwse-resize;}
.cursor-no-drop {cursor: no-drop;}
.cursor-none {cursor: none;}
.cursor-not-allowed {cursor: not-allowed;}
.cursor-pointer {cursor: pointer;}
.cursor-progress {cursor: progress;}
.cursor-row-resize {cursor: row-resize;}
.cursor-s-resize {cursor: s-resize;}
.cursor-se-resize {cursor: se-resize;}
.cursor-sw-resize {cursor: sw-resize;}
.cursor-text {cursor: text;}
.cursor-url {cursor: url(myBall.cursor-cur),auto;}
.cursor-w-resize {cursor: w-resize;}
.cursor-wait {cursor: wait;}
.cursor-zoom-in {cursor: zoom-in;}
.cursor-zoom-out {cursor: zoom-out;}

/*================================ 
    Cursors
================================*/

/*================================ 
    Button
================================*/
button {
  background: #3790ff;
  padding: 10px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  font-size: 1.5rem;
  z-index: 5;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  cursor: pointer;
  border-width: inherit;
  outline: none;

}

.grow-hover:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.btn {
  /*display: inline-block;*/
  /*background-color: #192d3e;*/
  /*color: white;*/
  /*border: 0;*/
  font-weight: bold;
  /*padding: 0.5em 1em;*/
  text-align: center;
  /*border-radius: 5px;*/
}

.btn:focus,
.btn:hover{
    /*opacity:.8;*/
  /*text-decoration: none;*/
  background-color:#005bcc;
}

/*================================ 
    Table
================================*/

.table {
    width: 100%;
}

/*===============================
    List
===============================*/
.list-style-type-none {list-style-type:none;}

/*===============================
    Responsive CSS
=================================*/
@media only screen and (max-width: 768px){
    .hide-on-phone {display: none!important;}
    .show-on-tablet-only {display: none!important;}
    .show-on-tablet-and-up {display: none!important;}
}
@media only screen and (min-width: 769px){
    .hide-on-tablet {display: none!important;}
    .show-on-phone-only {display: none!important;}
}
@media only screen and (min-width: 993px){
    .hide-on-desktop {display: none!important;}
    .show-on-tablet-only {display: none!important;}
    .show-on-tablet-down {display: none!important;}
}
@media only screen and (max-width: 992px){
    .show-on-desktop-only {display: none!important;}
}

 /*=========================================
     Layout
 ===========================================*/

.logo-box img{width:auto; height:42px;}
.sticky-nav {
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
footer:before{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height:100%;
    background: -webkit-linear-gradient(top, #008dd5, #008dd5 100%);
    background: linear-gradient(to top, #008dd5 0%, #008dd5 100%);
    opacity: 0.95;
}