.align-items\:center {
    align-items: center
}

.background-color\:\#2788BE {
    background-color: #2788BE
}

@media screen and (min-width:993px) and (max-width:1200px) {
    .margin-top\:70px\@md\@lg\@xl {
        margin-top: 70px
    }
}
